<!-- index.html -->
<html>
	<body>
		<img
			id="img"
			width="300"
			height="200"
			style="border: 1px solid gray;"
			src="https://jet-marking.com/wp-content/uploads/2017/04/pasted-image-0-1.png"
		/>
	</body>

	<script type="module">
		const image = document.querySelector('#img');
		const res = fetch('http://127.0.0.1:8000/qr', { image: image });
	</script>
</html>
